@import 'swiper/css';

@font-face {
  font-family: 'Stack Sans Notch';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/stack-sans-notch@latest/latin-700-normal.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/stack-sans-notch@latest/latin-700-normal.woff) format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Manrope', sans-serif;
    @apply w-full max-w-[100vw] overflow-x-hidden;
  }

  html {
    @apply w-full;
  }

  h1 {
    @apply text-hero-mobile md:text-hero-desktop font-bold text-text-dark;
  }

  h2 {
    @apply text-hero-mobile md:text-hero-desktop font-bold text-text-dark;
  }

  h3 {
    @apply text-2xl font-semibold text-text-dark leading-[1.2] tracking-[-0.02em];
  }

  p {
    @apply text-subtitle-mobile md:text-subtitle-desktop font-normal text-text-dark;
  }
}

@layer components {
  .partners-swiper .swiper-wrapper {
    transition-timing-function: linear;
  }
}
